@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300");

/* Base Styles
********************************************************************* */
* {
	margin: 0;
	padding: 0;
	
}

html {
	font-size: 62.5%;
}
body {
	font-size: 1.5em;
	line-height: 1.6;
	font-weight: 400;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #222;
	overflow: hidden;
}

/* Grid
********************************************************************* */  
.container {
	position: relative;
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}
.column, .columns {
	width: 100%;
	float: left;
	box-sizing: border-box;
}

.sticky {
	outline: 1px solid black;
}

#team > div > div:nth-child(2) > div:nth-child(1) > p:nth-child(4) > a,
#team > div > div:nth-child(2) > div:nth-child(2) > p:nth-child(4) > a {
    text-decoration: none;
}

#team > div > div:nth-child(2) > div:nth-child(1) > p:nth-child(4) > a:hover,
#team > div > div:nth-child(2) > div:nth-child(2) > p:nth-child(4) > a:hover {
    color: black;
}

#about > div > div:nth-child(1) > p > a:nth-child(1),
#about > div > div:nth-child(1) > p > a:nth-child(2),
#about > div > div:nth-child(1) > p > a:nth-child(3),
#about > div > div:nth-child(1) > p > a:nth-child(4),
#about > div > div:nth-child(1) > p > a:nth-child(5) {
	text-decoration: none;
}

#about > div > div:nth-child(1) > p > a:nth-child(1):hover,
#about > div > div:nth-child(1) > p > a:nth-child(2):hover,
#about > div > div:nth-child(1) > p > a:nth-child(3):hover,
#about > div > div:nth-child(1) > p > a:nth-child(4):hover,
#about > div > div:nth-child(1) > p > a:nth-child(5):hover {
	color: black;
	font-weight: 700;
}


/* For devices larger than 400px */
@media (min-width: 400px) {
.container {
	width: 85%;
	padding: 0;
}
}

/* For devices larger than 550px */
@media (min-width: 550px) {
.container {
	width: 75%;
}
.column,  .columns {
	margin-left: 4%;
}
.column:first-child,  .columns:first-child {
	margin-left: 0;
}
.one.column,  .one.columns {
	width: 4.66666666667%;
}
.two.columns {
	width: 13.3333333333%;
}
.three.columns {
	width: 22%;
}
.four.columns {
	width: 30.6666666667%;
}
.five.columns {
	width: 39.3333333333%;
}
.six.columns {
	width: 48%;
}
.seven.columns {
	width: 56.6666666667%;
}
.eight.columns {
	width: 65.3333333333%;
}
.nine.columns {
	width: 74.0%;
}
.ten.columns {
	width: 82.6666666667%;
}
.eleven.columns {
	width: 91.3333333333%;
}
.twelve.columns {
	width: 100%;
	margin-left: 0;
}
.one-third.column {
	width: 30.6666666667%;
}
.two-thirds.column {
	width: 65.3333333333%;
}
.one-half.column {
	width: 48%;
}
/* Offsets */
.offset-by-one.column,  .offset-by-one.columns {
	margin-left: 8.66666666667%;
}
.offset-by-two.column,  .offset-by-two.columns {
	margin-left: 17.3333333333%;
}
.offset-by-three.column,  .offset-by-three.columns {
	margin-left: 26%;
}
.offset-by-four.column,  .offset-by-four.columns {
	margin-left: 34.6666666667%;
}
.offset-by-five.column,  .offset-by-five.columns {
	margin-left: 43.3333333333%;
}
.offset-by-six.column,  .offset-by-six.columns {
	margin-left: 52%;
}
.offset-by-seven.column,  .offset-by-seven.columns {
	margin-left: 60.6666666667%;
}
.offset-by-eight.column,  .offset-by-eight.columns {
	margin-left: 69.3333333333%;
}
.offset-by-nine.column,  .offset-by-nine.columns {
	margin-left: 78.0%;
}
.offset-by-ten.column,  .offset-by-ten.columns {
	margin-left: 86.6666666667%;
}
.offset-by-eleven.column,  .offset-by-eleven.columns {
	margin-left: 95.3333333333%;
}
.offset-by-one-third.column,  .offset-by-one-third.columns {
	margin-left: 34.6666666667%;
}
.offset-by-two-thirds.column,  .offset-by-two-thirds.columns {
	margin-left: 69.3333333333%;
}
.offset-by-one-half.column,  .offset-by-one-half.columns {
	margin-left: 52%;
}
}
/* Typography
********************************************************************* */
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 2rem;
	font-weight: 300;
}
h1 {
	font-size: 4.0rem;
	line-height: 1.2;
	letter-spacing: -.1rem;
}
h2 {
	font-size: 3.6rem;
	line-height: 1.25;
	letter-spacing: -.1rem;
}
h3 {
	font-size: 3.0rem;
	line-height: 1.3;
	letter-spacing: -.1rem;
}
h4 {
	font-size: 2.4rem;
	line-height: 1.35;
	letter-spacing: -.08rem;
}
h5 {
	font-size: 1.8rem;
	line-height: 1.5;
	letter-spacing: -.05rem;
}
h6 {
	font-size: 1.5rem;
	line-height: 1.6;
	letter-spacing: 0;
}

/* Larger than phablet */
@media (min-width: 550px) {
h1 {
	font-size: 5.0rem;
}
h2 {
	font-size: 4.2rem;
}
h3 {
	font-size: 3.6rem;
}
h4 {
	font-size: 3.0rem;
}
h5 {
	font-size: 2.4rem;
}
h6 {
	font-size: 1.5rem;
}
}
p {
	margin-top: 0;
}
/* Links
********************************************************************* */
a {
	color: #1EAEDB;
}
a:hover {
	color: #0FA0CE;
}
/* Header Section
********************************************************************* */


header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
 	width: 100%;
	height: 100vh;
/*	background: #e55d87;
	background: -moz-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: -webkit-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e55d87', endColorstr='#5fc3e4', GradientType=1 );*/
 	/*background: linear-gradient(to bottom, #c71444, #0c2d72 89%, #0c2d72 89%);*/
	/*https://static1.squarespace.com/static/5430f838e4b0887f19e3ca20/575e1e8ba3360c3866b596a1/576898ba414fb5c44621c223/1466472636919/61350001.jpg?format=2500w*/
	/*background-image: url(https://static1.squarespace.com/static/5430f838e4b0887f19e3ca20/5796885dd2b857facb701495/579689e4ff7c508d10d82fb0/1469484092479/ILLGANDER_3005.jpg?format=1500w);*/
	 background: url(https://media.giphy.com/media/yYcVNdw4eD79e/giphy.gif);
                    /*url(https://giant.gfycat.com/PleasedInfatuatedCat.gif);*/
	background-repeat: no-repeat;
	background-size: 60vh;
	background-color: #090909 !important;
	background-position: 0 0;
}



.title {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	padding: 2rem;
	max-width: 960px;
	text-align: center;
	text-shadow: 1px 1px 9px black;
	margin-top: -10%;
}
.title .smallsep {
	background: #fff;
	height: 2px;
	width: 70px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
.title h1 {
	font-size: 4em;
	font-weight: 300;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
}
.title h2 {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-top: 50px;
}


.container01 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container01 h1 {
  /* font-family: 'Audiowide', cursive; */
  text-transform: uppercase;
  font-weight: 500;
  font-size: 4em;
  text-align: center;
  text-shadow: 0 4px 5px rgba(60,72,96,.5);
  color: #f0edf2;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  text-shadow: 
    rgb(255, 255, 255) 0px 0px 175px,
    rgb(255, 255, 255) 0px 0px 10px,
    rgb(255, 255, 255) 0px 0px 1px, 
    rgb(0, 51, 128) 0px 0px 100px, 
    rgb(0, 51, 128) 0px 0px 250px;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.title p {
	max-width: 600px;
	margin: 0 auto;
	line-height: 150%;
}

@media only screen and (max-width: 500px) {

.title {
	margin-top: -50%;
}

header {
	background-size: 65%;
}

.container01 {
	font-size: .8em;
}

.selector {
	right: 31% !important;
	bottom: 15% !important;
}


/* eli section adjustment it goes pic, name, description */
#team > div > div:nth-child(2) > div:nth-child(1) > img {
    margin-left: 30%;
}
#team > div > div:nth-child(2) > div:nth-child(1) > h4 {
    margin-left: 33%;
}
#team > div > div:nth-child(2) > div:nth-child(1) > p {
    text-align: center;
}

/* damian section adjustment it goes pic, name, description */
#team > div > div:nth-child(2) > div:nth-child(2) > img {
    margin-left: 10%;
}
#team > div > div:nth-child(2) > div:nth-child(2) > h4 {
    margin-left: 28%;
}
#team > div > div:nth-child(2) > div:nth-child(2) > p {
    text-align: center;
}

#team > div > div:nth-child(2) > div:nth-child(1),
#team > div > div:nth-child(2) > div:nth-child(2) {
    width: 100%;
}
#team,
#skills,
#contact {
    padding: 50px 0 0 0 !important;
}

.image {
	width: 90vw !important;
}

.three.columns {
	width: 100% !important;
}

}
.title .icon {
	color: #FFFFFF;
	font-size: 50px;
}
.main_nav {
	position: fixed;
	top: 0px;
	max-height: 50px;
	z-index: 999;
	width: 100%;
	padding-top: 17px;
	background: none;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 0;
	top: -100px;
	padding-bottom: 6px;
}

@media only screen and (max-width: 766px) {
.main_nav {
	padding-top: 25px;
}
}
.open-nav {
	max-height: 400px !important;
}
.sticky {
	background-color: #ffffff;
	opacity: 1;
	top: 0px;
}
nav {
	width: 100%;
	margin-top: 5px;
}

@media only screen and (max-width: 766px) {
nav {
	width: 100%;
}
}
nav ul {
	list-style: none;
	overflow: hidden;
	text-align: center;
}

@media only screen and (max-width: 766px) {
nav ul {
	padding-top: 0px;
	margin-bottom: 22px;
	text-align: center;
	width: 100%;
}
}
nav ul li {
	display: inline-block;
	margin-left: 35px;
	line-height: 1.5;
	letter-spacing: 1px;
}

@media only screen and (max-width: 766px) {
nav ul li {
	width: 100%;
	padding: 7px 0;
	margin: 0;
}
nav ul li:first-child {
	margin-top: 70px;
}
}
nav ul a {
	text-transform: uppercase;
	font-size: 12px;
	text-decoration: none;
	color: #000;
}
nav ul a:hover {
	color: red;
}
.mobile-toggle {
	display: none;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	right: 22px;
	top: 0;
	width: 30px;
}

@media only screen and (max-width: 766px) {
.mobile-toggle {
	display: block;
}
}
.mobile-toggle span {
	width: 30px;
	height: 4px;
	margin-bottom: 6px;
	background: #000000;
	display: block;
}
.scroll-down {
	position: absolute;
	left: 50%;
	bottom: 5vh;
	display: block;
	text-align: center;
	font-size: 20px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
	width: 13px;
	height: 13px;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	z-index: 9;
	-webkit-transform: translate(-50%, 0%) rotate(45deg);
	-moz-transform: translate(-50%, 0%) rotate(45deg);
	transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 2s ease-in-out infinite;
	-moz-animation: fade_move_down 2s ease-in-out infinite;
	animation: fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
 0% {
-webkit-transform:translate(0, -10px) rotate(45deg);
opacity: 0;
}
 50% {
opacity: 1;
}
 100% {
-webkit-transform:translate(0, 10px) rotate(45deg);
opacity: 0;
}
}
@-moz-keyframes fade_move_down {
 0% {
-moz-transform:translate(0, -10px) rotate(45deg);
opacity: 0;
}
 50% {
opacity: 1;
}
 100% {
-moz-transform:translate(0, 10px) rotate(45deg);
opacity: 0;
}
}
@keyframes fade_move_down {
 0% {
transform:translate(0, -10px) rotate(45deg);
opacity: 0;
}
 50% {
opacity: 1;
}
 100% {
transform:translate(0, 10px) rotate(45deg);
opacity: 0;
}
}
/* About Section
********************************************************************* */

#about {
	padding: 100px 0 50px 0;
}
/* Team Section
********************************************************************* */
#team {
	padding: 50px 0 100px 0;
}
#team .icon {
	font-size: 26px;
}
/* Skills Section
********************************************************************* */
#skills {
	padding: 100px 0 100px 0;
	background-color: #F5F5F5;
}
.progressBar {
	margin-bottom: 26px;
	margin-bottom: 1.66em;
}
.progressBar h4 {
	font-size: 16px;
	text-transform: none;
	margin-bottom: 7px;
	margin-bottom: .33em;
}
.progressBarContainer {
	width: 100%;
	height: 8px;
	background: #E1E1E1;
	overflow: hidden;
}
.progressBarValue {
	height: 8px;
	float: left;
/*	background: #e55d87;*/ /* Old browsers */
/*	background: -moz-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: -webkit-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);*/
 	background: #000
}
.value-00 {
	width: 0;
}
.value-10 {
	width: 10%;
}
.value-20 {
	width: 20%;
}
.value-30 {
	width: 30%;
}
.value-40 {
	width: 40%;
}
.value-50 {
	width: 50%;
}
.value-60 {
	width: 60%;
}
.value-70 {
	width: 70%;
}
.value-80 {
	width: 80%;
}
.value-90 {
	width: 90%;
}
.value-100 {
	width: 100%;
}
/* Portfolio Section
********************************************************************* */
#portfolio {
	padding: 100px 0 100px 0;
}
.image {
	background-color: #5a5a5a;
	width: 20vw;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	transition: .5s;
	padding: 5%;
}

#team > div > div:nth-child(2) {
    text-align: center;
    width: 100%;
    padding-left: 15%;
}

.three.columns {
    width: 33.3%;
}

.image:hover {
	opacity: 0.8;
	transition: .3s;
	background-image: url(../images/hoverbg.png);
	background-repeat: no-repeat;
	background-position: center;
}

/* Contact Section
********************************************************************* */
#contact {
	padding: 100px 0 100px 0;
	background: #F5F5F5;
}
input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
	height: 38px;
	padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
	background-color: #fff;
	border: 1px solid #000;
	box-shadow: none;
	box-sizing: border-box;
	border-radius: 0;
	outline: none;
}
textarea {
	min-height: 250px;
}
input[type="submit"] {
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	color: #fff;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background: #000;
	border-radius: 0px;
	border: 1px solid #000;
	cursor: pointer;
	box-sizing: border-box;
}
input[type="submit"]:hover {
	background: #fff;
	color: #000;
	text-decoration: none;
}
/* Footer Section
********************************************************************* */
footer {
	min-height: 120px;
	padding: 40px 0 40px 0;
/*	background: #e55d87;
	background: -moz-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: -webkit-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e55d87', endColorstr='#5fc3e4', GradientType=1 );*/
 	/*background: linear-gradient(to bottom, #c71444, #0c2d72 89%, #0c2d72 89%);*/
 	background: #000;
	box-sizing: border-box;
}
footer p {
	color: #FFFFFF;
	margin: 20px 0 0 0;
}
/* Lists
********************************************************************* */
ul {
	list-style: circle inside;
}
ol {
	list-style: decimal inside;
}
ol, ul {
	padding-left: 0;
	margin-top: 0;
}
ul ul, ul ol, ol ol, ol ul {
	margin: 1.5rem 0 1.5rem 3rem;
	font-size: 90%;
}
li {
	margin-bottom: 1rem;
}
/* Spacing
********************************************************************* */
button, .button {
	margin-bottom: 1rem;
}
input, textarea, select, fieldset {
	margin-bottom: 1.5rem;
}
pre, blockquote, dl, figure, table, p, ul, ol, form {
	margin-bottom: 2.5rem;
}
/* Utilities
********************************************************************* */
.u-full-width {
	width: 100%;
	box-sizing: border-box;
}
.u-max-full-width {
	max-width: 100%;
	box-sizing: border-box;
}
.u-pull-right {
	float: right;
}
.u-pull-left {
	float: left;
}
/* Clearing
********************************************************************* */
.container:after, .row:after, .u-cf {
	content: "";
	display: table;
	clear: both;
}
/* Misc
********************************************************************* */

.icon {
	padding-right: 10px;
	color: #e55d87;
}
.block {
	width: 70px;
	height: 2px;
	/*background: #e55d87; /* Old browsers */
/*	background: -moz-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: -webkit-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);*/
	background: #000;
	margin-bottom: 50px;
}












.js-type-writer {
  font-size: 4em;
  font-family: sans-serif;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.js-type-writer > span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}











.selector {
    position: absolute;
    right: 7%;
    bottom: 14%;
    width: 140px;
    height: 140px;
    margin-top: -70px;
    margin-left: -70px;
}

.selector, .selector button {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;


  

}

.selector button {
  position: relative;
  width: 50%;
  height: 50%;
  background: #428bca;
  border-radius: 20%;
  border: 0;
  color: white;
  font-size: 1em;
  cursor: pointer;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  transition: all .1s;
  top: 23%;
  left:23%;
}

.selector button:hover {
  box-shadow: 0 0 50px #3071a9;
}

.selector button:focus {
  outline: none;
}

.selector ul {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.selector li {
  position: absolute;
  width: 0;
  height: 100%;
  margin: 0 50%;
  -webkit-transform: rotate(-360deg);
  transition: all 0.8s ease-in-out;
}

.selector li input {
  display: none;
}

.selector li input + label {
  position: absolute;
  left: 50%;
  bottom: 100%;
  width: 0;
  height: 0;
  line-height: 1px;
  margin-left: 0;
  background: transparent;
  border-radius: 50%;
  text-align: center;
  font-size: 1px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.8s ease-in-out, color 0.1s, background 0.1s;
  color: white;
}

.selector li input + label:hover {
  background: #f0f0f0;
}

.selector li input:checked + label {
  background: #5cb85c;
  color: white;
}

.selector li input:checked + label:hover {
  background: #449d44;
}

.selector.open li input + label {
    width: 100px;
    height: 80px;
    line-height: 30px;
    /*margin-left: -40px;*/
    /* box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1); */
    background: transparent;
    font-size: 14px;

}

i.fa.fa-camera, 
i.fa.fa-users, 
i.fa.fa-calendar,
i.fa.fa-music,
i.fa.fa-user,
i.fa.fa-credit-card,
i.fa.fa-video-camera,
i.fa.fa-ticket {
    padding-top: 15% !important;
    color: white;
}


.selector.open li input + label:hover {
    text-shadow: 0 0 20px white;
    transition: .3s ease;
}
